body {
  margin: 0;
  font-family: 'Varela Round', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #566787;
  background: #f5f5f5;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.myButton {
  @apply  inline-flex items-center gap-1 py-1 px-3 text-white rounded cursor-pointer text-sm transition-colors tracking-tighter ;
}

th {
  @apply py-3 px-2;
}
td {
  @apply p-2;
}



input,
textarea {
  @apply rounded border block w-full;
}

input {
  @apply h-10 px-2;
}

.view-label {
  @apply text-right font-bold w-32 pr-4;
}
.home-slider .carousel-item img{
  max-width: 100%;
  max-height: 574px;
  object-fit: cover;
}


@media screen and (max-width:1440px){
  .home-slider .carousel-item img{
    max-height: 564px;
  }
  
}
@media screen and (max-width:1200px){
  .home-slider .carousel-item img{
    max-height: 564px;
  }
  
}
@media screen and  (max-width:992px){
  .home-slider .carousel-item img{
    max-height: 564px;
  }
  
}
@media screen and (max-width:768px){
  .home-slider .carousel-item img{
    max-height: 564px;
  }
  
}
@media screen and (max-width:576px){
  .home-slider .carousel-item img{
    max-height: 564px;
  }
  
}